body {
    margin: 0 0 auto 0;
}

/* Sfondo intestazione*/
header {
    height: 175px;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
}

/* Logo testata */
.logo {
    max-height: 85px;
    margin-left: 15px;
    margin-top: 75px;
}

/* Titolo principale articolo */
.main-title {
    font-size: 70px;
    margin-bottom: 0px;
}

/* Metadata articolo */
.autor {
    color: gray;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    color: rgb(30, 160, 226);
    text-decoration: none;
}
time {
    font-size: small;
    color: gray;
}