body {
    margin: 0 0 auto 0;
}

/* Sfondo intestazione*/
header {
    height: 175px;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
}

/* Logo testata */
.logo {
    max-height: 85px;
    margin-left: 15px;
    margin-top: 75px;
}